.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 2rem;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.info {
  font-size: 3rem;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.gallery {
  columns: 600px;
}

.galleryItem {
  break-inside: avoid;
  margin-bottom: 10px;
}
.galleryItem img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.ImageViewer {
  font-family: Arial, sans-serif;
}

@media (max-width: 1900px) {
  .gallery {
    columns: 400px;
  }
}

@media (max-width: 1300px) {
  .gallery {
    columns: 300px;
  }
}

@media (max-width: 680px) {
  .gallery {
    columns: 200px;
  }
}

@media (max-width: 480px) {
  .info {
    font-size: 2rem;
    gap: 0;
  }
  .gallery {
    columns: 100px;
  }
  .galleryItem img {
    width: 100px;
  }
}
